body{
  font-family: 'Ranchers', cursive;
  font-size: 20px;
}


h2{
  text-align: center;
}
p{
  text-align: center;
}
.cuadres {
  width: 150px;
  height: 150px;
  margin: 20px;
  background-color: red;
}

#uno {
  background-color: indianred;
}

#dos{
  background-color: darksalmon;
}

#tres{
  background-color: coral;
}

#cuatro{
  background-color: lightcoral;
}
