@media screen and (min-width: 425px) and (max-width: 768px) {

  body {
    background-color: #282828;
  }

.cuadres:hover{
background-color: yellow;
}

#header {
  margin-top: 0;
  margin-left: -10px;
  width: 768px;
  height: 80px;
  line-height: 85px;
  text-align: center;
  font-size: 35px;
  color: #282828;
  background-color: #ffb4b4;
}

.cuadres {
  width: 230px;
  margin: 40px;
  height: 230px;
  border-radius: 20%;
  line-height: 230px;
  font-size: 50px;
  color: #282828;
  float: left;
  position: relative;
  left: 60px;
}

.cuadres:hover {
  opacity: 50%;
  transform: scale(1.5);
}

#tres{
  clear:both;
}

#titol {
  clear: both;
  margin-left: -10px;
  width: 767px;
  height: 150px;
  line-height: 145px;
  text-align: center;
  background-color: white;
  font-size: 30px;
  color: #ffb4b4;
  position: relative;
  top: 140px;
}
#footer {
  clear: both;
  margin-left: -10px;
  width: 767px;
  height: 80px;
  line-height: 90px;
  text-align: center ;
  font-size: 25px;
  background-color: #ffb4b4;
  position: relative;
  top: 130px;
}
