body {
  background-color: pink;
}

.caixes {
  width: 200px;
  height: 200px;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  float:left;
  text-align: center;
  line-height: 200px;
  margin: 10px;
}

.caixes:hover {
  opacity: 60%;
  transform: scale(1.5);
}

#A {
  background-color: navy;
  float: right;
}

#B {
  background-color: blue;
  position:relative;
  top: 25px;
  left: 50px;
}

#C {
  background-color: cyan;
}

#D {
  background-color: #66ffcc;
}
